.home {
	background-color: #ececec;
	display: flex;
	padding: 38px 47px;
	justify-content: center;
	flex-grow: 1;
	.title-text {
		font-size: 36px;
		font-weight: bold;
	}
	.inc {
		color: red;
	}
	.desc {
		color: blue;
	}
	.chart-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 30px;
		width: 59%;
		height: 100%;
		.title {
			background-color: #fff;
			height: 160px;
			width: 100%;
			margin-bottom: 5px;
			border-radius: 15px;
			padding: 35px;
			display: flex;
			.image-container {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #2e9bff;
				width: 87px;
				height: 87px;
				img {
					width: 62px;
					height: 62px;
				}
			}
			.texts {
				display: flex;
				margin-left: 36px;
			}
		}
		.texts {
			display: flex;
			flex-direction: column;
			.price-area {
				margin-left: 15px;
				margin-bottom: 20px;
				.current-price {
					font-size: 48px;
					margin-right: 30px;
				}
				.price-delta {
					font-size: 28px;
				}
			}
		}
		.chart {
			background-color: #fff;
			flex-grow: 1;
			width: 100%;
			border-radius: 15px;
			.buttons {
				margin-top: 5px;
				display: flex;
				justify-content: center;
				button {
					width: 92px;
					height: 55px;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #ecf0f1;
					margin-right: 15px;
					font-size: 20px;
					&:hover,
					&.clicked {
						background-color: #60b2ff;
					}
				}
			}
		}
	}
	.line {
		width: 1px;
		height: 100%;
		background-color: #b5b5b5;
	}
	.main-item {
		display: flex;
		flex-direction: column;
		margin-left: 30px;
		width: 41%;
		height: 100%;
		.title {
			display: flex;
			align-items: center;
			background: #fff;
			width: 100%;
			height: 100px;
			padding-left: 24px;
			margin-bottom: 5px;
			.image-container {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #ff0000;
				width: 87px;
				height: 87px;
				img {
					width: 62px;
					height: 62px;
				}
			}
		}
		.stock-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #fff;
			.stock {
				width: 488px;
				height: 136px;
				display: flex;
				align-items: center;
				background-color: #ececec;
				margin-bottom: 25px;
				&:first-child {
					margin-top: 30px;
				}
				&:hover {
					background-color: #60b2ff;
				}
				div {
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #fff;
					font-size: 36px;
				}
				.rank {
					margin-left: 25px;
					margin-right: 28px;
					width: 60px;
					height: 60px;
				}
				.item-code {
					width: 138px;
					height: 60px;
					margin-right: 28px;
				}
				.price-container {
					flex-direction: column;
					width: 190px;
					height: 108px;
				}
			}
			.loader {
				font-size: 40pt;
			}
		}
	}
}
