* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: Roboto;
	font-size: 1em;
	width: 100%;
}
html {
	width: 100%;
}
#root {
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a,
button {
	display: inline-block;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
}

.shadow-box {
	border-radius: 15px;
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
