.tile-list {
	width: 35%;
	height: 100%;
	font-size: 0.7vw;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 820px) {
		width: 100%;
		flex-direction: row;
		margin-top: 10px;
		padding-bottom: 10px;
		overflow-x: auto;
		font-size: 1.1vw;
	}

	button {
		height: 100%;
		background-color: white;
		text-align: left;
		margin-top: 10px;

		&:first-child {
			margin-top: 0px;
		}

		&:hover {
			background-color: rgb(227, 244, 253);
		}

		@media screen and (max-width: 820px) {
			height: auto;
			min-width: 200px;
			margin-right: 5px;
			margin-top: 0px;
		}
	}
}
