.chart-container {
	height: 100%;
	background-color: white;

	.period-selector {
		height: 50px;

		ul {
			height: 50px;
			display: flex;
			align-items: center;

			li {
				float: left;

				input {
					display: none;
				}

				label {
					background-color: white;
					margin: 5px 5px;
					margin-left: 10px;
					padding: 5px 10px;
					cursor: pointer;
					border-radius: 5px;
					color: #4d4d4d;
					font-weight: bold;
				}

				input:checked + label {
					background-color: #60b2ff;
					color: white;
				}
			}
		}
	}

	.chart {
		width: 100%;
		height: calc(100% - 50px);
		padding: 10px;
	}
}
