.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;

	.company-name {
		display: flex;
		width: 60%;
		flex-direction: column;
		font-size: 2em;
		font-weight: bold;
		white-space: break-spaces;
		overflow-x: auto;

		.symbol {
			color: #2e9bff;
			font-size: 0.5em;
		}
	}

	.price {
		width: 40%;
		font-size: 2em;
		text-align: right;

		.price-ratio-up {
			color: red;
			font-size: 0.5em;
		}

		.price-ratio-down {
			color: blue;
			font-size: 0.5em;
		}
	}
}
